@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
<style>
@@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
</style>
@using BlazorQuiz.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

<PageTitle>Home</PageTitle>


@{
    var authenticationStateTask = AuthenticationStateProvider.GetAuthenticationStateAsync();
    var user = authenticationStateTask.Result.User;
}

@foreach (var quizwithscore in quizzesWithScore)
{
    <p>@quizwithscore.User</p>
    <p>@quizwithscore.Title</p>
    <p>@quizwithscore.Score</p>
}


<div class="body">
@if (user.Identity?.IsAuthenticated ?? false)
{
    <h3>Welcome, @user.Identity.Name</h3>

        

     <div class="quiz-list-container">
    <h3>List of your quizzes:</h3>

    @foreach (var quiz in quizzes)
    {
            <p>@quiz.Title</p>  
    }
    </div>
} else
{
    <h1>Hello, world!</h1>
}
</div>


@code {

    private IEnumerable<QuizViewModel> quizzes = new List<QuizViewModel>();

    private IEnumerable<QuizWithScoreViewModel> quizzesWithScore = new List<QuizWithScoreViewModel>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            quizzes = await Http.GetFromJsonAsync<List<QuizViewModel>>("api/quiz/get");
            quizzesWithScore = await Http.GetFromJsonAsync<List<QuizWithScoreViewModel>>("api/quiz/getquizwithscore");

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();

        }
    }

}